/bin/
.gradle/
.idea/
/build/
/.settings/
/generated/
/run/
src/main/antlr/comp2024/grammar/.antlr/
gradle*

# Class files
**/*.class
!libs-jmm/**/*.class

# debug files
output.ollir
output.jasmin
output.j
